<div class="container">
  <section class="products">
    <h3>Productos <small class="secondaryTitle">Gestión de Productos</small></h3>
    <app-panelfilter></app-panelfilter>
    <app-toolbar></app-toolbar>
    <app-modalforms></app-modalforms>
    <app-modaldelete [serviceObject]="productsService" [object]="product"></app-modaldelete>
    <app-modalinfo [serviceObject]="productsService" [objectInterface]="selectedProductInfo"></app-modalinfo>
    <app-table [products]="products"></app-table>
  </section>
</div>
