<p-toolbar>
  <ng-template pTemplate="left">
      <h5>Listado de tiendas</h5>
  </ng-template>
  <ng-template pTemplate="right">
      <button pButton pRipple type="button" icon="pi pi-sync" class="p-button-rounded p-button-info p-button-text" (click)="reload()"></button>
  </ng-template>
</p-toolbar>
<p-table
#dt1
[value]="stores"
dataKey="id"
selectionMode="single"
[(selection)]="selectedStores"
[rows]="5"
[showCurrentPageReport]="true"
[rowsPerPageOptions]="[5, 10, 15]"
[rowHover]="true"
styleClass="p-datatable-sm p-datatable-gridlines"
[paginator]="true"
[globalFilterFields]="['name','address','city']"
responsiveLayout="scroll"
currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
[(first)]="firstPage"
(onRowSelect)="onRowSelect($event)"
(onRowUnselect)="onRowUnselect($event)"
>

<ng-template pTemplate="caption">
  <div class="text-right">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar en la vista actual" class="w-full"/>
    </span>
  </div>

</ng-template>
<ng-template pTemplate="header">
  <tr>
    <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
    <th pSortableColumn="address">Direccion<p-sortIcon field="address"></p-sortIcon></th>
    <th pSortableColumn="city">Ciudad<p-sortIcon field="city"></p-sortIcon></th>
    <th pSortableColumn="openingHours">Horario de apertura<p-sortIcon field="openingHours"></p-sortIcon></th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-store rowIndex="rowIndex">
  <tr [pSelectableRow]="store">
    <td>{{store.name}}</td>
    <td>{{store.address}}</td>
    <td>{{store.city}}</td>
    <td>{{store.openingHours}}</td>
  </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
  <tr>
    <td colspan="8">{{messages.emptyMessage}}</td>
  </tr>
</ng-template>
<ng-template pTemplate="loadingbody">
  <tr>
    <td colspan="8">{{messages.loadingRegisters}}</td>
  </tr>
</ng-template>
</p-table>
