<p-toast></p-toast>

<form [formGroup]="formStore">
    <div class="grid">
        <div class="col-12">
            <p-dialog [(visible)]="dialog" [style]="{width: '50vw'}" header={{titleForm}} [modal]="true"
                class="p-fluid">
                <ng-template pTemplate="content">
                    <div hidden class="form-group field">
                        <label for="id">Id</label>
                        <input type="text" pInputText id="id" formControlName="id" />
                    </div>
                    <div class="form-group field">
                        <label for="name">Nombre</label>
                        <input type="text" pInputText id="name" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && formStore.controls['name'].invalid}"
                            formControlName="name" />
                        <div *ngIf="submitted && formStore.controls['name'].invalid">
                            <small class="p-error"
                            *ngIf="formStore.get('name')?.hasError('required')">{{messages.requiredField}}</small>
                        </div>
                    </div>
                    <div class="form-group field">
                        <label for="address">Direccion</label>
                        <input type="text" pInputText id="address" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && formStore.controls['address'].invalid}"
                        formControlName="address" />
                        <div *ngIf="submitted && formStore.controls['address'].invalid">
                            <small class="p-error"
                            *ngIf="formStore.get('address')?.hasError('required')">{{messages.requiredField}}</small>
                        </div>
                    </div>
                    <div class="form-group field">
                      <label for="city">Ciudad</label>
                      <input type="text" pInputText id="city" required autofocus
                      [ngClass]="{'ng-invalid ng-dirty' : submitted && formStore.controls['city'].invalid}"
                      formControlName="city" />
                      <div *ngIf="submitted && formStore.controls['city'].invalid">
                          <small class="p-error"
                          *ngIf="formStore.get('city')?.hasError('required')">{{messages.requiredField}}</small>
                      </div>
                  </div>
                  <div class="form-group field">
                    <label for="openingHours">Horario de Apertura</label>
                    <input type="text" pInputText id="openingHours" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && formStore.controls['openingHours'].invalid}"
                    formControlName="openingHours" />
                    <div *ngIf="submitted && formStore.controls['openingHours'].invalid">
                        <small class="p-error"
                        *ngIf="formStore.get('openingHours')?.hasError('required')">{{messages.requiredField}}</small>
                    </div>
                </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times"
                        class="p-button-secondary p-button-rounded mr-2" (click)="openDialog(false,false)"></button>
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-rounded mr-2"
                        (click)="save()"></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</form>
