<div class="container">
  <section class="stores">
    <h3>Tiendas <small class="secondaryTitle">Gestión de Tiendas</small></h3>
    <app-panelfilter></app-panelfilter>
    <app-toolbar></app-toolbar>
    <app-modalforms></app-modalforms>
    <app-modaldelete [serviceObject]="storesService" [object]="store"></app-modaldelete>
    <app-modalinfo [serviceObject]="storesService" [objectInterface]="store"></app-modalinfo>
    <app-table [stores]="stores"></app-table>
  </section>
</div>
