<div class="container">
  <section class="orders">
    <h3>
      Ordenes <small class="secondaryTitle">Gestión de pedidos/ordenes</small>
    </h3>
    <div class="grid nested-grid">
      <div class="col-8">
        <app-dataview></app-dataview>
      </div>
      <div class="col">
        <app-orderlist></app-orderlist>
        <br>
        <app-buyerform></app-buyerform>
      </div>
    </div>
  </section>
</div>
