<p-accordion>
    <p-accordionTab [selected]=false class="line-height-3 m-0" #panelTab>
        <ng-template pTemplate="header">
            <span *ngIf="!selectedTags">Filtrar por: </span>
            <app-filterinformation *ngIf="selectedTags" [filterData]="selectedTags"></app-filterinformation>
        </ng-template>
        <form [formGroup]="formCategory" id="formCategory">
            <div class="grid">
                <div class="col-12">
                    <div class="card p-fluid">
                        <div class="p-formgrid grid">
                            <div class="field col">
                                <label for="name">Nombre</label>
                                <input  pInputText id="name" type="text" formControlName="name"/>
                            </div>
                            <div class="field col">
                                <label for="description">Descripción</label>
                                <input  pInputText id="description" type="text" formControlName="description"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <button pButton type="button" label="Clear" icon="pi pi-undo" class="p-button-secondary p-button-rounded mr-2" (click)="clear()"></button>
                    <button pButton type="button" label="Search" icon="pi pi-search" class="p-button-rounded mr-2 " (click)="search(panelTab, $event)"></button>
                </div>
            </div>
        </form>
    </p-accordionTab>
</p-accordion>