<p-toast></p-toast>

<span class="title-section">
  Datos de compra <i class="pi pi-shopping-cart text-3xl size-icon" pBadge [value]="getMyProductsLengthString()" styleClass="p-mr-2" severity="info"></i>
</span>
<form [formGroup]="formBuyer">
  <div class="grid">
    <div class="col">
      <div class="p-fluid p-formgrid grid">
        <div class="form-group col md:col-12">
          <label for="name">Nombre</label>
          <input
            type="text"
            pInputText
            id="name"
            required
            formControlName="name"
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && formBuyer.controls['name'].invalid
            }"
          />
          <div *ngIf="submitted && formBuyer.controls['name'].invalid">
            <small
              class="p-error"
              *ngIf="formBuyer.get('name')?.hasError('required')"
            >
              Nombre es requerido.
            </small>
          </div>
        </div>

        <div class="form-group col md:col-12">
          <label for="name">Fecha</label>
          <p-calendar [showIcon]="true" formControlName="date"
            dateFormat="dd-mm-yy"
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && formBuyer.controls['date'].invalid
            }"
          ></p-calendar>
          <div *ngIf="submitted && formBuyer.controls['date'].invalid">
            <small
              class="p-error"
              *ngIf="formBuyer.get('date')?.hasError('required')"
            >
              Fecha es requerido.
            </small>
          </div>
        </div>

        <div class="form-group col md:col-12 justify-content-center align-items-center">
          <label for="name">Usara nuestro servicio de delevery? </label>
          <p-checkbox [binary]="true" inputId="binary" formControlName="isDelivery"></p-checkbox>
        </div>
        <div
          *ngIf="formBuyer.get('isDelivery').value === true"
          class="form-group col md:col-12 justify-content-center align-items-center">
          <label for="name">Ingrese su direccion </label>
          <input
            type="text"
            pInputText
            id="shippingAddress"
            required
            formControlName="shippingAddress"
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && formBuyer.controls['shippingAddress'].invalid
            }"
          />
          <div *ngIf="submitted && formBuyer.controls['shippingAddress'].invalid">
            <small
              class="p-error"
              *ngIf="formBuyer.get('shippingAddress')?.hasError('required')"
            >
              Direccion es requerido.
            </small>
          </div>
        </div>

        <div
        *ngIf="formBuyer.get('isDelivery').value === false"
        class="form-group col md:col-12 justify-content-center align-items-center">
        <label for="name">Seleccione la tienda a recoger </label>
        <p-dropdown inputId="storeId" formControlName="storeId" [options]="stores" optionLabel="name"
        optionValue="id" placeholder="Selecciona una tienda..." [filter]="true" filterBy="name"
        [ngClass]="{
          'ng-invalid ng-dirty': submitted && formBuyer.controls['storeId'].invalid
        }"
        >
        <ng-template let-store pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ store.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
        <div *ngIf="submitted && formBuyer.controls['storeId'].invalid">
          <small
            class="p-error"
            *ngIf="formBuyer.get('storeId')?.hasError('required')"
          >
            La tienda es requerida.
          </small>
        </div>
      </div>
        <div>
          <button pButton pRipple label="COMPRAR" class="p-button-rounded mr-2"
            (click)="save()"></button>
        </div>
      </div>
    </div>
  </div>
</form>
