<p-toast></p-toast>
<p-dialog [(visible)]="dialogInfo" header="Información" [modal]="true" [style]="{width: '50vw'}" *ngIf="object">
    <div class="card p-fluid">
        <ng-container *ngFor="let column of objectInterface | keyvalue">
            <div *ngIf="isColumnIncluded(column.key)" class="field grid">
                <label htmlFor="name" class="col-6 mb-2 md:col-4 md:mb-0" ><strong>{{translateHeader(column.key)}}</strong> </label>
                <div class="col-6 md:col-8">
                    <span
                        appFormatValue = {{column.value}}
                        appFormatvalueType = {{isVariableOfType(column.value)}}
                    ></span>
                </div>
            </div>
        </ng-container>
    </div>
    <ng-template pTemplate="footer">
        <div class="p-formgrid grid text-left">
            <div class="field col">
                <small><label htmlFor="createdAt" class="col-12 mb-2 md:col-2 md:mb-0">Creando en</label></small>
                <div class="col-12 md:col-10">
                    <span>{{objectInterface.createdAt | formatFieldDate}}</span>

                </div>
            </div>
            <div class="field col">
                <small><label htmlFor="createdBy" class="col-12 mb-2 md:col-2 md:mb-0">Creado por</label></small>
                <div class="col-12 md:col-10">
                    <span>{{objectInterface.createdBy}}</span>
                </div>
            </div>
        </div>
        <div class="p-formgrid grid text-left">
            <div class="field col">
                <small><label htmlFor="updatedAt" class="col-12 mb-2 md:col-2 md:mb-0">Actualizado en</label></small>
                <div class="col-12 md:col-10">
                    <span>{{objectInterface.updatedAt | formatFieldDate}}</span>
                </div>
            </div>
            <div class="field col">
                <small><label htmlFor="updatedBy" class="col-12 mb-2 md:col-2 md:mb-0">Actualizado por</label></small>
                <div class="col-12 md:col-10">
                    <span>{{objectInterface.updatedBy}}</span>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>