<p-dataView #dv [value]="products">
  <ng-template let-product pTemplate="listItem">
      <div class="col-12">
          <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
              <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" src="https://aramar.com/wp-content/uploads/2017/05/aramar-suministros-para-el-vidrio-cristal-sin-imagen-disponible.jpg" [alt]="product.name" />
              <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                  <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                      <div class="text-2xl font-bold text-900">{{ product.name }}</div>
                      <p-tag [value]="'En stock: ' + product.stock" severity="success"></p-tag>
                      <div class="flex align-items-center gap-3">
                          <span class="flex align-items-center gap-2">
                              <i class="pi pi-tag"></i>
                              <span class="font-semibold">{{ product.category.name }}</span>
                          </span>
                      </div>
                  </div>
                  <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                      <span class="text-2xl font-semibold">{{product.price + ' Bs.' }}</span>
                      <button pButton icon="pi pi-shopping-cart" class="md:align-self-end mb-2 p-button-rounded" (click)="addProductToBuy(product)"></button>
                  </div>
              </div>
          </div>
      </div>
  </ng-template>
</p-dataView>
