<h4>Tu carrito 🛒</h4>
<p-orderList
  [value]="items"
  [listStyle]="{ height: '25rem' }"
  header="Tus Productos"
>
  <ng-template let-items let-i="index" pTemplate="item">
    <div class="flex flex-wrap p-2 align-items-center gap-3">
      <img
        src="https://aramar.com/wp-content/uploads/2017/05/aramar-suministros-para-el-vidrio-cristal-sin-imagen-disponible.jpg"
        [alt]="items.product.name"
        class="w-4rem shadow-2 flex-shrink-0 border-round"
      />
      <div class="flex-1 flex flex-column gap-2">
        <span class="font-bold">{{ items.product.name }}</span>
        <div class="flex align-items-center gap-2">
          <i class="pi pi-tag text-sm"></i>
          <span>{{ items.product.category.name }}</span>
        </div>
      </div>
      <p-tag [value]="'Cantidad: ' + items.quantity" severity="success"></p-tag>
      <p-button icon="pi pi-minus" [rounded]="true" [outlined]="true" (click)="substracOneQuantity(i)" [disabled]="items.quantity === 1"></p-button>
      <p-button icon="pi pi-plus" [rounded]="true" [outlined]="true" (click)="addOneQuantity(i)" [disabled]="items.quantity === items.product.stock"></p-button>
    </div>
  </ng-template>
</p-orderList>
